<!DOCTYPE html>
<html>
<head th:replace="fragments/fragments :: admin_header">
    <!--    <meta charset='UTF-8'>-->
    <!--    <link rel="stylesheet" th:href="@{/css/boss.css}" >-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <title>-->
    <!--        ShuchiShoili-->
    <!--    </title>-->
</head>
<body>
<div class='admin_container'>
    <div class='admin_logo'>
        <div class="row media d-flex align-items-center">
            <img th:src="@{'/images/logo_invoice.png'}" alt="..." class="card-img-top shadow-sm">
        </div>
    </div>
    <div class='admin_dashboard'><a class="text-white" th:href="@{/dashboard}">Dashboard</a></div>
<!--    <div class='admin_web_setting' onclick="boss_web_setting_clicked()">Website Setting</div>-->
    <div class='admin_web_setting'><a class="text-white" th:href="@{/websetting}">Website Settings</a></div>
</div>

<script type="application/javascript" th:src="@{/js/boss.js}"></script>
</body>
</html>