<html>
<head th:replace="fragments/fragments :: admin_header">
</head>
<body>
<div class="loginForm">
    <div class="row d-flex justify-content-center text-black">
        <h1>Login</h1>
    </div>
    <form method="POST" th:action="@{/}" class="form-signin">
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Email"
                   autofocus="true"/>
            <br>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <br>
            <span class="text-danger" th:if="${error != null}">Your username and password is invalid.</span>
            <br>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>
    </form>
</div>
<script type="application/javascript" th:src="@{/js/admin.js}"></script>
<script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>