body {
    /* background: #599fd9; */
    min-height: 100vh;
    overflow-x: hidden;
}

.vertical-nav {
    background-color: #c9c4c4;
    /* min-width: 20rem;
    width: 20rem; */
    min-width: 20vw;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    /* background-image: linear-gradient(135.9deg, rgba(109,25,252,1) 16.4%, rgba(125,31,10,1) 56.1%); */
    /* width: calc(100% - 20rem); */
    width: calc(100% - 20vw);
    /* margin-left: 20rem; */
    margin-left: 20vw;
    transition: all 0.4s;
}

#sidebar.active {
    /* margin-left: -17rem; */
    margin-left: -20vw;
}

#content.active {
    width: 100%;
    margin: 0;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.nav-item, #closeOrderDetailsDivOrderList, .adminLogout {
    cursor: pointer;
}

.add_inventory {
    /*max-height: 100vh;
    height: 100vh;
   	overflow: hidden;*/
    display: none;
}

.add_inventory.show {
    display: block;
}

.add_category {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.add_category.show {
    display: block;
}

.add_order {
    /*max-height: 100vh;
    height: 100vh;*/
    /*overflow: hidden;*/
    display: none;
}

.add_order.show {
    display: block;
}

.watch_inventory {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.watch_inventory.show {
    display: block;
}

.order_list {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.order_list.show {
    display: block;
}

.expense {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.expense.show {
    display: block;
}

.img-thumbnail {
    height: 100px;
    width: 100px;
}

.add-order-table-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.watch-inventory-table-scrollbar {
    position: relative;
    height: 90vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#inventoryProductSizeAddDiv {
    opacity: 0;
    transition: 1s;
}

#inventoryProductSizeAddDiv.show {
    opacity: 1;
    transition: 1s;
}

#inventoryProductSizeAddButton {
    opacity: 1;
    transition: 1s;
}

#inventoryProductSizeAddButton.hide {
    opacity: 0;
    transition: 1s;
}

#successDiv, #failDiv, #duplicateEntryDiv {
    position: fixed;
    bottom: 0;
    right: 5%;
    transform: translateY(20vh);
    transition: 1s;
}

#successClose, #failClose, #duplicateEntryClose {
    cursor: pointer;
}

#successDiv.show, #failDiv.show, #duplicateEntryDiv.show {
    transform: translatey(0);
    transition: 1s;
}

#orderDetailsDivOrderList {
    position: fixed;
    top: 10vh;
    left: 20vw;
    height: 80vh;
    width: 60vw;
    background-color: aliceblue;
    visibility: hidden;
}

#orderDetailsDivOrderList.show, #loading-wrapper.show {
    visibility: visible;
}

#orderList.blur, #addOrder.blur, #addInventory.blur, #addCategory.blur {
    filter: blur(50px);
    pointer-events: none;
}

#add_order_customer_details, #add_order_product {
    background-color: #818182;
}

.loginForm {
    position: absolute;
    top: 30vh;
    left: 40vw;
    height: 40vh;
    width: 20vw;
    /*background-color: #b0b7b0;*/
}

.registraionForm {
    position: absolute;
    top: 30vh;
    left: 40vw;
    height: 40vh;
    width: 20vw;
}

#loading-wrapper {
    background-color: whitesmoke;
    position: fixed;
    width: 30vw;
    height: 30vh;
    left: 35vw;
    top: 35vh;
    visibility: hidden;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}